div.facelist {
  width: 100px;
}

div.facelist .avatar {
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
}

div.facelist .avatar {
  border-bottom: 2px solid #333;
}

div.facelist .avatar.local {
  border-bottom: 2px solid lime;
}

div.facelist .avatar .aspect {
  padding-top: 100%;
}

div.facelist .avatar .aspect > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.facelist img {
  opacity: 0.5;
  transition: opacity ease-in-out 0.5s;
}

div.facelist img.active {
  opacity: 1.0;
}

div.facelist video {
}
